
.cours{
        display: grid;
        grid-template-columns: 1fr;
}  

.box{
    margin:10px; 
    padding:10px;
    font-size:1em;
    display:flex;
    border:solid white 1px;
    
 
}

@include media(mobile){
    .cours{

        grid-template-columns: 1fr 1fr;
}
    }

    @include media(tablet){
        .cours{

            grid-template-columns: 1fr  1fr 1fr;
    }    
    }


    @include media(desktop){
        .cours{

            grid-template-columns: 1fr 1fr  1fr 1fr;
    }
}

    @include media(wide){
        .cours{

            grid-template-columns: 1fr 1fr  1fr 1fr 1fr;
    } 
    

    }


