.annee1{
background-color:lightblue;

}
.annee2{
background-color: firebrick;
    
}

.annee3{
background-color: blue;
        
}

.annee4{
background-color:violet;
            
}

.annee5{
background-color:mediumaquamarine;
                
}

.annee6{
background-color:cornflowerblue;
    
    }