.annee1{
background-color:lightblue;

}
.annee2{
background-color:rosybrown;
    
}

.annee3{
background-color: bisque;
        
}

.annee4{
background-color:lightpink
;
            
}

.annee5{
background-color:mediumaquamarine;
                
}

.annee6{
background-color:cornflowerblue;
    
    }