.annee1{
background-color: chartreuse;

}
.annee2{
background-color: red;
    
}

.annee3{
background-color: chartreuse;
        
}

.annee4{
background-color: chartreuse;
            
}

.annee5{
background-color: chartreuse;
                
}

.annee6{
background-color: chartreuse;
    
    }